        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Inter", sans-serif;
        }
        
        body {
            width: 100vw;
            height: 100vh;
        }
        
        .flex {
            display: flex;
        }
        
         :root {
            --backgrounds: #f9fafb;
            /* خلفياتك */
            --base: #001f54;
        }
        
        .school-login-icon {
            width: 36px;
            height: 36px;
        }
        
        .login-background {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center
        }
        
        .login-container {
            position: absolute;
            width: 720px;
            height: 524px;
            left: calc(50% - 720px/2);
            top: calc(50% - 524px/2);
            background: #FFFFFF;
            box-shadow: 16px -16px 15px rgba(0, 0, 0, 0.25), -16px 16px 15px rgba(0, 0, 0, 0.25);
            border-radius: 16px;
            flex-direction: column;
            justify-content: center;
            gap: 14px;
            align-items: center;
            padding: 40px 0;
        }
        
        .sign-in {
            color: white;
            padding: 11px 16px;
            width: 416px;
            height: 48px;
            background: #001F54;
            border-radius: 16px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px 0;
            font-size: 20px;
            text-decoration: none;
        }
        
        .login-heading-text {
            /* My School System */
            width: 200px;
            height: 24px;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: #001F54;
            text-align: center;
            justify-content: space-between;
            align-items: center;
        }
        
        .login-sign-text {
            /* Sign in to School System */
            width: 422px;
            height: 38px;
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;
            text-align: center;
            letter-spacing: 0.05em;
            color: #001F54;
            margin-bottom: 4px;
        }
        
        .login-enter-text {
            /* Enter your credentails to access the admin panel */
            width: 427px;
            height: 19px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            /* بعض الخلفيات */
            color: #7B7B7B;
            text-align: center;
        }
        
        .login-background input {
            width: 416px;
            height: 42px;
            background: #FFFFFF;
            border: 1px solid #D4D4D4;
            box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.19);
            border-radius: 8px;
            padding: 10px;
        }
        
        .login-background :-ms-input-placeholder {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            /* or 19px */
            display: flex;
            align-items: center;
            letter-spacing: 0.01em;
            color: #A7A7A7;
        }
        
        .input-label {
            /* Title */
            width: 416px;
            height: 38px;
            font-style: normal;
            font-weight: 600;
            font-size: 17px;
            line-height: 120%;
            /* or 19px */
            display: flex;
            align-items: center;
            letter-spacing: 0.01em;
            /* اللون الاساسي */
            color: #1E457E;
            /* Inside auto layout */
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
            margin-top: 4px;
        }
        
        .square-password {
            /* Frame 5080 */
            /* Auto layout */
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 8px;
            width: 155px;
            height: 25px;
            margin: 10px 0;
        }
        
        .fa-eye,
        .fa-eye-slash {
            position: absolute;
            right: 15px;
            top: 37%;
            color: #A7A7A7;
        }