* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

.flex {
    display: flex;
}

:root {
    --box-shadow: rgba(0, 0, 0, 0.25);
    --main-login-color: #001F54;
    --text-muted: #7B7B7B;
    --white-bg: #FFFFFF;
    --border-color: #D4D4D4;
    --placeholder: #A7A7A7;
    --main-input: #1E457E;
    --classification-weak: #DC3545;
    --white-txt: white;
    --font-black: black;
}

.school-login-icon {
    width: 36px;
    height: 36px;
}

.login-background {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-bg);
}

.login-container {
    position: absolute;
    width: 39%;
    height: 74%;
    left: 50%;
    top: 50%;
    background: var(--white-bg);
    box-shadow: 16px -16px 15px var(--box-shadow), -16px 16px 15px var(--box-shadow);
    border-radius: 16px;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    align-items: center;
    padding: 35px 0;
    transform: translate(-50%, -50%);
}

.sign-in {
    color: var(--white-txt);
    padding: 11px 16px;
    width: 416px;
    height: 48px;
    background: var(--main-login-color);
    border-radius: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    font-size: 20px;
    text-decoration: none;
}

.login-heading-text {
    /* My School System */
    width: 200px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--main-login-color);
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.login-sign-text {
    width: 422px;
    height: 38px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 1px;
    color: var(--main-login-color);
    margin-bottom: 4px;
}

.login-enter-text {
    /* Enter your credentails to access the admin panel */
    width: 427px;
    height: 19px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--text-muted);
    text-align: center;
}

.login-background input {
    width: 416px;
    height: 42px;
    background: var(--white-bg);
    border: 1px solid var(--border-color);
    box-shadow: inset 0px 2px 4px var(--box-shadow);
    border-radius: 8px;
    padding: 10px;
    color: var(--font-black);
}

.login-background :-ms-input-placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: var(--placeholder);
}

.input-label {
    /* Title */
    width: 416px;
    height: 38px;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: var(--main-input);
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 4px;
}

.square-password {
    /* Frame 5080 */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 155px;
    height: 25px;
    margin: 10px 0;
    color: var(--main-input);
    font-weight: 600;
}

.fa-eye,
.fa-eye-slash {
    position: absolute;
    right: 15px;
    top: 37%;
    color: var(--placeholder);
}

.forgot {
    color: var(--main-input);
}

.forgot:hover {
    color: var(--classification-weak);
    text-decoration: underline;
}