@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
 :root {
    --container-bg: #f4f7f9;
    --classification-weak: #DC3545;
    --white-bg: #fff;
    --shadow-much-strong: rgba(0, 0, 0, 0.1);
    --shadow-light: rgba(0, 0, 0, 0.05);
    --main-heading-color: #1E457E;
    --add-buttons-hover-bg: #f7f7f7;
    --shadow-medium: rgba(0, 0, 0, 0.15);
    --linear-gradient-1: #4A90E2;
    --linear-gradient-2: #1A3E73;
    --linear-gradient-1-hover: #3A7ACC;
    --linear-gradient-2-hover: #15345C;
    --shadow-strong: rgba(0, 0, 0, 0.3);
    --font-black: #333;
    --gender-border: #ccc;
    --icon-color: #1a3b6d;
    --table-border-black: black;
    --table-header-bg: rgba(0, 31, 84, 1);
    --table-hover-bg: #fff2b2;
    --table-row-bg: #f8f8f8;
    --grey-color: grey;
    --gender-hover-bg: #f6f9fc;
    --white-txt: white;
    --classification-superior: #28A745;
    --classification-talented: #67B2D8;
    --color-primary: #FFB74D;
    --students-modify-bg: rgba(223, 223, 223, 1);
    --unread-notification: rgba(173, 216, 230, 0.25);
    --read-notification-bg: #f9f9f9;
    --read-notification-txt: #555;
    --notification-hover: rgba(173, 216, 230, 0.3);
    --notification-time: #999;
    --viewlink-bg: #f5f5f5;
    --viewlink-hover-bg: #eaeaea;
    --viewlink-top-border: #ddd;
    --notification-delete: #888;
    --hover-clr: black;
    --trash-hover: #DC3545;
    --font-black-edit: #555;
    --pop-up-shadow: 0 15px 40px rgba(0, 0, 0, .2);
}

body {
    font-family: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.flex {
    display: flex;
}

.login-background {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--container-bg);
}

.login-container {
    background-color: var(--white-bg);
    box-shadow: var(--pop-up-shadow);
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    align-items: center;
    justify-content: start;
    width: 47%;
    height: 79%;
}

.login-header {
    color: var(--main-heading-color);
    font-weight: 700;
    align-items: center;
    gap: 2px;
    font-size: 17px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.login-header img {
    width: 52px !important;
    height: 56px !important;
}

.login-text {
    text-align: center;
}

.login-text * {
    margin: 5px 0;
    color: var(--notification-time);
}

input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid var(--gender-border);
    border-radius: 6px;
    outline: none;
    box-shadow: 0 2px 4px var(--shadow-medium);
    transition: 0.2s ease;
    background-color: var(--white-bg);
}

.login-form {
    width: 80%;
    margin: 5px auto;
    position: relative;
}

.login-form p {
    margin: 10px 0;
    color: var(--font-black-edit);
}

input::placeholder,
textarea::placeholder,
input {
    color: var(--font-black-edit)!important;
    opacity: 1;
}

.login-form>* {
    margin: 16px 0;
}

.fa-container {
    position: relative;
}

.fa-eye,
.fa-eye-slash {
    position: absolute;
    right: 10px;
    bottom: 8px;
    color: var(--font-black-edit);
}

.square-password {
    display: flex;
    gap: 10px;
}

.square-password p {
    margin: 20px 0;
}

.sign-in {
    background-color: var(--main-heading-color);
    width: 80%;
    border-radius: 20px;
    text-align: center;
    display: block;
    color: var(--white-txt);
    padding: 10px 20px;
    margin: 10px auto;
}

.forgot {
    margin-top: 20px!important;
}

.login-sign-text {
    color: var(--main-heading-color)!important;
    font-weight: 600 !important;
    font-size: 28px !important;
}

@media (max-width: 480px) {
    .login-container {
        width: 85%;
        height: 71%;
    }
    .login-header img {
        width: 42px !important;
        height: 42px !important;
    }
    .login-header {
        font-size: 14px;
    }
    .login-sign-text {
        font-size: 18px !important;
    }
    .login-enter-text {
        font-size: 10px;
    }
    .login-form p {
        margin: 5px 0;
    }
}

@media(min-width: 481px) and (max-width: 767px) {
    .login-container {
        width: 65%;
        height: 75%;
    }
    .login-header img {
        width: 49px !important;
        height: 48px !important;
    }
    .login-form p {
        margin: 7px 0;
    }
    .login-sign-text {
        font-size: 24px !important;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .login-container {
        width: 61%;
        height: 77%;
    }
    .login-form p {
        margin: 6px 0;
    }
    .login-header img {
        width: 48px !important;
        height: 49px !important;
    }
    .sign-in {
        margin: 6px auto;
    }
}

@media (min-width: 1024px) and (max-width: 1044px) {
    .login-container {
        width: 58%;
        height: 78%;
    }
    .login-sign-text {
        font-size: 26px !important;
    }
    .login-form p {
        margin: 7px 0;
    }
}