:root {
    --color-light: rgba(132, 139, 200, 0.18);
    --box-shadow: 0 2rem 3rem var(--color-light);
    --container-bg: #f4f7f9;
    --main-heading-color: #1E457E;
    --add-buttons-hover-bg: #f7f7f7;
    --white: white;
    --linear-gradient-1: #4A90E2;
    --linear-gradient-1-hover: #3A7ACC;
    --linear-gradient-2: #1A3E73;
    --linear-gradient-2-hover: #15345C;
    --students-modify-bg: rgba(223, 223, 223, 1);
    --students-modify-hover-bg: rgba(244, 244, 244, 1);
    --icon-color: #1a3b6d;
    --table-border: black;
    --table-header-bg: rgba(0, 31, 84, 1);
    --table-header-color: white;
    --table-row-odd-bg: #f8f8f8;
    --table-hover-bg: #fff2b2;
    --classification-superior: #10b981;
    --classification-weak: #ef4444;
    --classification-talented: #3b82f6;
    --trash-hover: darkred;
    --pen-hover-transform: 1.5;
    --slider-border: #15345C;
    --slider-color: #15345C;
    --slider-hover-bg: #15345C;
    --slider-hover-color: white;
    --gender-border: #ccc;
    --gender-bg: #fff;
    --gender-hover-bg: #f6f9fc;
    --gender-hover-border: #4A90E2;
    --gender-checked: #1E457E;
    --gender-checked-text: #1A3E73;
    --upload-box-border: grey;
    --upload-box-icon: lightgrey;
    --input-border: #ccc;
    --input-box-shadow: rgba(0, 0, 0, 0.05);
    --shadow-light: rgba(0, 0, 0, 0.05);
    --shadow-medium: rgba(0, 0, 0, 0.15);
    --shadow-strong: rgba(0, 0, 0, 0.3);
    --shadow-much-strong: rgba(0, 0, 0, 0.1);
    --font-black: #333;
    --matrial-color: #36A2EB;
}

.material-symbols-outlined.icon {
    color: var(--matrial-color);
    font-size: 40px;
    font-size: 35px;
    margin: 11px 0;
}

.flex {
    display: flex;
    justify-content: start;
    align-items: start;
}

.payment-container {
    position: absolute;
    top: 66px;
    left: 235px;
    right: 0;
    padding: 20px;
    overflow-y: auto;
    height: calc(100vh - 80px);
    background-color: var(--container-bg);
    z-index: 1;
}

.payment-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 44px;
    color: var(--main-heading-color);
    margin: 10px 0 20px 10px;
}

.payment-modify {
    background-color: var(--students-modify-bg);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    min-height: 41px;
    box-shadow: 0px 4px 3px var(--shadow-medium);
    margin: 0 10px 20px 0;
    border-radius: 3px;
    overflow: hidden;
}

.payment-header {
    justify-content: space-between;
    align-items: center;
}

.add-buttons button {
    padding: 10px 20px;
    border: 1px solid var(--input-box-shadow);
    border-radius: 52px;
    box-shadow: 0 2px 4px var(--input-box-shadow);
    background-color: var(--white);
    cursor: pointer;
    transition: all 300ms ease;
}

.add-buttons button:hover {
    background-color: var(--add-buttons-hover-bg);
    transform: translateY(-2px) scale(1.03);
    box-shadow: 0 4px 12px var(--shadow-medium);
    border-color: var(--shadow-much-strong);
    transform: scale(1.05);
}

.add-buttons .save-button {
    background: linear-gradient(90deg, var(--linear-gradient-1) 8.17%, var(--linear-gradient-2) 94.23%);
    border-radius: 52px;
    color: var(--white);
    cursor: pointer;
    box-shadow: none;
}

.add-buttons .save-button:hover {
    background: linear-gradient(90deg, var(--linear-gradient-1-hover) 8.17%, var(--linear-gradient-2-hover) 94.23%);
    transform: scale(1.05);
    box-shadow: 0 6px 15px var(--shadow-strong);
    color: var(--white);
}

.payment-modify button {
    min-width: 130px;
    border: none;
    font-size: 18px;
    padding: 10px 15px;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.2s ease;
    gap: 4px;
    flex: 1;
}

.modify-content {
    width: 40%;
    justify-content: start;
    align-items: center;
}

.payment-modify button {
    min-height: 41px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
}

.payment-modify button:hover {
    background-color: var(--students-modify-hover-bg);
}

.payment-modify .active-button-payment {
    background-color: var(--students-modify-hover-bg);
}

.resgistered-payment {
    color: var(--main-heading-color);
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 15px;
    font-weight: 700;
    font-size: 20px;
    gap: 8px;
}


/* بغير لون الايقون الي هي لصوره للون الكلام */

.resgistered-payment img {
    filter: invert(19%) sepia(28%) saturate(3285%) hue-rotate(188deg) brightness(93%) contrast(95%);
}

.payment-section-content {
    gap: 20px;
    width: 80%;
}

.payment-section-content-box {
    border: 1px solid var(--shadow-light);
    text-align: center;
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.payment-section-content-box:hover {
    box-shadow: none;
}

.payment-section-content-box p {
    font-weight: 600;
    color: var(--gender-checked);
    margin: 5px 0;
}

.payment-table {
    width: 100%;
    text-align: left;
    border: 1px solid var(--table-border);
    border-radius: 8px;
    overflow: hidden;
    border-spacing: 0;
    margin: 20px 0;
}

.payment-table thead {
    background-color: var(--table-header-bg);
    color: var(--white);
    border-spacing: 0;
    font-size: 18px;
}

.payment-table thead tr th:first-child {
    border-top-left-radius: 8px;
}

.payment-table thead tr th:last-child {
    border-top-right-radius: 8px;
}

.payment-table th {
    padding: 12px 15px;
    font-weight: 600;
    text-align: left;
    border-bottom: 1px solid var(--table-border);
    border-right: 1px solid var(--table-border);
    border-left: 1px solid var(--table-border);
}

.payment-table td {
    padding: 10px 15px;
    border-right: 1px solid var(--table-border);
    border-bottom: 1px solid var(--table-border);
    font-size: 14px;
}

table tbody td:hover {
    background-color: var(--table-hover-bg);
}

.payment-table td:first-child {
    border-left: none;
}

.payment-table td:last-child {
    border-right: none;
}

.payment-table tr:last-child td {
    border-bottom: none;
}

table tbody td:hover {
    background-color: var(--table-hover-bg);
}

.payment-table th,
.payment-table td {
    text-align: center;
}

.un-paid {
    color: var(--classification-weak);
}


/* تظليل الصفوف الفردية للتمييز */

.class-table tbody tr:nth-child(odd) {
    background-color: var(--table-row-odd-bg);
}

.hide {
    display: none;
}

.payment-form-basic {
    border: 1px solid var(--upload-box-border);
    border-radius: 8px;
}

.payment-form-header {
    font-weight: 600;
    font-size: 24px;
    color: var(--main-heading-color);
    padding: 5px;
}

.payment-basic-information-container {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 50px;
    padding: 10px;
}

.payment-form-section label:not(.gender label) {
    display: block;
    margin: 8px 0;
}


/* formmmmmmmmmmmmmmmmmmmmmmmm */

.payment-form-section {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px;
    display: none;
}


/* كل فورم */

.payment-form-basic {
    border: 1px solid var(--gender-border);
    border-radius: 8px;
    padding: 15px;
    box-sizing: border-box;
    background-color: var(--white);
    height: fit-content;
}

.payment-form-section input:not(.gender input) {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid var(--gender-border);
    border-radius: 6px;
    outline: none;
    box-shadow: 0 2px 4px var(--shadow-light);
    transition: 0.2s ease;
}

.payment-right-group,
.payment-left-group {
    flex: 1;
}

.payment-form-section {
    width: 80%;
    box-shadow: 0px 4px 3px var(--shadow-medium);
    border-radius: 30px;
    padding: 15px;
}

.slider {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--linear-gradient-2-hover);
    width: fit-content;
    margin: 2rem auto 0 auto;
    padding: 0.5rem 1rem;
    gap: 20px;
    border-radius: 1rem;
    font-size: 14px;
}

.slider * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    color: var(--linear-gradient-2-hover);
}

.slider i {
    font-size: 14px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider *:hover {
    background-color: var(--linear-gradient-2-hover);
    color: white;
    transform: scale(1.1);
}


/* ==================== استجابة للموبايل ==================== */

@media (max-width: 992px) {
    .class-row-top,
    .class-row-bottom {
        flex-direction: column;
    }
    .class-form-basic {
        flex: 1 1 100%;
    }
}