.material-symbols-outlined.icon {
    color: #36A2EB;
    font-size: 40px;
    font-size: 35px;
    margin: 11px 0;
}

.flex {
    display: flex;
    justify-content: start;
    align-items: start;
}

.payment-container {
    position: absolute;
    top: 66px;
    left: 235px;
    right: 0;
    padding: 20px;
    overflow-y: auto;
    height: calc(100vh - 80px);
    background-color: #f4f7f9;
    z-index: 1;
}

.payment-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 44px;
    color: #1E457E;
    margin: 10px 0 20px 10px;
}

.payment-modify {
    background-color: rgba(223, 223, 223, 1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    min-height: 41px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.15);
    margin: 0 10px 20px 0;
    border-radius: 3px;
    overflow: hidden;
}

.payment-header {
    justify-content: space-between;
    align-items: center;
}

.add-buttons {
    gap: 20px;
    margin-right: 10px;
}

.add-buttons button {
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 52px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    background-color: white;
    cursor: pointer;
}

.add-buttons .save-button {
    background: linear-gradient(90deg, #4A90E2 8.17%, #1A3E73 94.23%);
    border-radius: 52px;
    color: white;
}

.payment-modify button {
    min-width: 130px;
    border: none;
    font-size: 18px;
    padding: 10px 15px;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.2s ease;
    gap: 4px;
    flex: 1;
}

.modify-content {
    width: 40%;
    justify-content: start;
    align-items: center;
}


/*.payment-modify button:hover {
    background-color: rgba(244, 244, 244, 1);
}*/

.payment-modify .active-button-payment {
    background-color: rgba(244, 244, 244, 1);
    min-height: 41px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resgistered-payment {
    color: #1E457E;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 15px;
    font-weight: 700;
    font-size: 20px;
    gap: 8px;
}


/* بغير لون الايقون الي هي لصوره للون الكلام */

.resgistered-payment img {
    filter: invert(19%) sepia(28%) saturate(3285%) hue-rotate(188deg) brightness(93%) contrast(95%);
}

.payment-section-content {
    gap: 20px;
    width: 80%;
}

.payment-section-content-box {
    border: 1px solid rgba(0, 0, 0, 0.15);
    text-align: center;
    flex: 1;
    padding: 20px;
    border-radius: 10px;
}

.payment-section-content-box p {
    font-weight: 600;
    color: #1E457E;
    margin: 5px 0;
}

.payment-table {
    width: 100%;
    text-align: left;
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
    border-spacing: 0;
    margin: 20px 0;
}

.payment-table thead {
    background-color: rgba(0, 31, 84, 1);
    color: white;
    border-spacing: 0;
    font-size: 18px;
}

.payment-table thead tr th:first-child {
    border-top-left-radius: 8px;
}

.payment-table thead tr th:last-child {
    border-top-right-radius: 8px;
}

.payment-table th {
    padding: 12px 15px;
    font-weight: 600;
    text-align: left;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.payment-table td {
    padding: 10px 15px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 14px;
}

.payment-table td:first-child {
    border-left: none;
}

.payment-table td:last-child {
    border-right: none;
}

.payment-table tr:last-child td {
    border-bottom: none;
}

.payment-table th:nth-child(1),
.payment-table td:nth-child(1),
.payment-table th:nth-child(2),
.payment-table td:nth-child(2),
.payment-table th:nth-child(6),
.payment-table td:nth-child(6) {
    text-align: center;
}


/* تلوين فئة التصنيف */

.classification-superior {
    color: #10b981;
    font-weight: 500;
}


/* أخضر */

.classification-weak {
    color: #ef4444;
    font-weight: 500;
}


/* أحمر */

.classification-talented {
    color: #3b82f6;
    font-weight: 500;
}


/* أزرق */


/* تظليل الصفوف الفردية للتمييز */

.class-table tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
}

.hide {
    display: none;
}

.payment-form-basic {
    /*background-color: red;*/
    /*width: fit-content;*/
    border: 1px solid grey;
    border-radius: 8px;
}

.payment-form-header {
    font-weight: 600;
    font-size: 24px;
    color: #1E457E;
    padding: 5px;
}

.payment-basic-information-container {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 50px;
    padding: 10px;
}

.payment-form-section label:not(.gender label) {
    display: block;
    margin: 8px 0;
}


/* formmmmmmmmmmmmmmmmmmmmmmmm */

.payment-form-section {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px;
}


/* كل فورم */

.payment-form-basic {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    box-sizing: border-box;
    background-color: #fff;
    height: fit-content;
}

.payment-form-section input:not(.gender input) {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.payment-right-group,
.payment-left-group {
    flex: 1;
}

.payment-form-section {
    width: 80%;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 15px;
}


/* ==================== استجابة للموبايل ==================== */

@media (max-width: 992px) {
    .class-row-top,
    .class-row-bottom {
        flex-direction: column;
    }
    .class-form-basic {
        flex: 1 1 100%;
    }
}