body.dark-mode {
    --container-bg: #121212;
    --aside-bg: #1c1c1c;
    --white-bg: #1c1c1c;
    --white-txt: #f5f5f5;
    --aside-icon-filter: brightness(0) invert(1);
    --color-primary: #f7b731;
    --aside-hover-bg: rgba(247, 183, 49, 0.1);
    --color-primary: #a0c4ff;
    --aside-hover-bg: rgba(160, 196, 255, 0.1);
    --font-black: #f5f5f5;
    --search-bg: #2a2a2a;
    --header-left-icons: #777;
    --img-white-bg: rgba(40, 40, 40, 1);
    --icon-color: #a0b2d1;
    --container-bg: #121212;
    --classification-weak: #DC3545;
    --shadow-much-strong: rgba(0, 0, 0, 0.5);
    --white-bg: #1c1c1c;
    --shadow-light: rgba(0, 0, 0, 0.03);
    --unread-notification: rgba(50, 130, 200, 0.25);
    --read-notification-bg: #2c2c2c;
    --read-notification-txt: #ccc;
    --notification-hover: rgba(50, 130, 200, 0.3);
    --notification-time: #aaa;
    --viewlink-bg: #2a2a2a;
    --viewlink-hover-bg: #3a3a3a;
    --viewlink-top-border: #444;
    --notification-delete: #bbb;
    --box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.9);
    --color-light: rgba(50, 50, 70, 0.18);
    --linear-gradient-1: #2b5db0;
    --linear-gradient-2: #11294b;
    --linear-gradient-1-hover: #1d3e7a;
    --linear-gradient-2-hover: #0d1f3c;
    --shadow-strong: rgba(0, 0, 0, 0.7);
    --profile-pic-color: rgba(26, 59, 109, 0.2);
    --profile-pic-hover: rgba(26, 59, 109, 0.7);
    --text-muted: rgba(180, 180, 180, 1);
    --students-modify-bg: rgba(40, 40, 40, 1);
    --shadow-medium: rgba(0, 0, 0, 0.5);
    --information-headings: #cce0ff;
    --over-view-tr: #555555;
    --over-view-td: #cce0ff;
    --font-black: #f5f5f5;
    --gender-border: #555;
    --table-border: #444;
    --academic-head: #83a8e5;
    --search-icon: #777;
    --table-hover-bg: rgba(30, 55, 100, 0.25) !important;
    --main-heading-color: #4682B4;
    --hover-table-txt: black;
    --table-header-bg: rgba(40, 40, 40, 1);
    --linear-gradient-2-hover: var(--color-primary);
    --hover-clr: black;
    --linear-gradient-2: var(--color-primary);
    --box-shadow: rgba(0, 0, 0, 0.6);
    --main-login-color: #1C4A80;
    --text-muted: #B5B5B5;
    --white-bg: #121212;
    --border-color: #2C2C2C;
    --placeholder: #6F6F6F;
    --main-input: #1E4A89;
    --aside-txt: white;
    --font-black-edit: #555;
    --main: #555!important;
    --img-gray: 100% !important;
    --table-border-black: #555;
    /*--add-buttons-hover-bg: #555;*/
}