.flex {
    display: flex;
    justify-content: start;
    align-items: start;
}

.timetable-container {
    position: absolute;
    top: 66px;
    left: 235px;
    right: 0;
    padding: 20px;
    overflow-y: auto;
    height: calc(100vh - 80px);
    background-color: #f4f7f9;
    z-index: 1;
}

.timetable-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 44px;
    color: #1E457E;
    margin: 10px 0 20px 10px;
}

.timetable-header {
    justify-content: space-between;
    align-items: center;
}

.add-buttons {
    gap: 20px;
    margin-right: 10px;
}

.add-buttons button {
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 52px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    background-color: white;
    cursor: pointer;
}

.add-buttons .save-button {
    background: linear-gradient(90deg, #4A90E2 8.17%, #1A3E73 94.23%);
    border-radius: 52px;
    color: white;
}

.timetable-modify {
    background-color: rgba(223, 223, 223, 1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    min-height: 41px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.15);
    margin: 0 10px 20px 0;
    border-radius: 3px;
    overflow: hidden;
}

.timetable-modify button {
    min-width: 130px;
    border: none;
    font-size: 18px;
    padding: 10px 15px;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.2s ease;
    gap: 4px;
    flex: 1;
}

.modify-content {
    width: 40%;
    justify-content: start;
    align-items: center;
}


/*.timetable-modify button:hover {
    background-color: rgba(244, 244, 244, 1);
}*/

.timetable-modify .active-button-timetable {
    background-color: rgba(244, 244, 244, 1);
    min-height: 41px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timetable-addition p {
    color: #1A3E73;
    font-weight: 600;
    font-size: 20px;
    margin: 10px 0;
}

.timetable-selection {
    width: 55%;
    justify-content: space-between;
    gap: 15px;
}

.timetable-selection .timetable-select-box {
    flex: 1;
}

.timetable-container input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.timetable-table {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
    border-spacing: 0;
    margin: 20px 0;
}

.timetable-table thead {
    background-color: rgba(0, 31, 84, 1);
    color: white;
    border-spacing: 0;
    font-size: 18px;
}

.timetable-table thead tr th:first-child {
    border-top-left-radius: 8px;
}

.timetable-table thead tr th:last-child {
    border-top-right-radius: 8px;
}

.timetable-table th {
    padding: 12px 15px;
    font-weight: 600;
    text-align: left;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.timetable-table td {
    padding: 10px 15px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 14px;
}

.timetable-table td:first-child {
    border-left: none;
}

.timetable-table td:last-child {
    border-right: none;
}

.timetable-table tr:last-child td {
    border-bottom: none;
}

.timetable-table th:nth-child(1),
.timetable-table td:nth-child(1),
.timetable-table th:nth-child(2),
.timetable-table td:nth-child(2),
.timetable-table th:nth-child(6),
.timetable-table td:nth-child(6) {
    text-align: center;
}


/* تلوين فئة التصنيف */

.classification-superior {
    color: #10b981;
    font-weight: 500;
}


/* أخضر */

.classification-weak {
    color: #ef4444;
    font-weight: 500;
}


/* أحمر */

.classification-talented {
    color: #3b82f6;
    font-weight: 500;
}


/* أزرق */


/* تظليل الصفوف الفردية للتمييز */

.timetable-table tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
}


/*
when clicking to add timetable*/

.hide {
    display: none;
}